.cabecalhoPrincipal{
   background-color: blanchedalmond;
   width: 100%;
   height: 3em;
   position: absolute;
   top: 0px;
   left: 0px;
}
.titPrincipal {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-align: center;
    font-size: 24px;
    position: relative;
    top: 10px;
    width: 100%;
}
.imgEx1 {
    position: absolute;
    height: 250px;
    width: 250px;
    top: 100px;
    left: 70px;
}
.btnEx1 {
    position: absolute;
    height: 20px;
    width: 160px;
    top: 360px;
    left: 115px;

}

.imgEx2 {
    position: absolute;
    height: 250px;
    width: 250px;
    top: 100px;
    left: 335px;
}
.btnEx2 {
    position: absolute;
    height: 20px;
    width: 160px;
    top: 360px;
    left: 375px;
}

.imgEx3 {
    position: absolute;
    height: 250px;
    width: 250px;
    top: 100px;
    left: 600px;
}

.btnEx3{
    position: absolute;
    height: 20px;
    width: 160px;
    top: 360px;
    left: 650px;
    
}

.imgEx4{
    position: absolute;
    height: 250px;
    width: 250px;
    top: 100px;
    left: 870px;
}

.btnEx4{
    position: absolute;
    height: 20px;
    width: 160px;
    top: 360px;
    left: 930px;
}

.imgEx5{
    position: absolute;
    height: 250px;
    width: 250px;
    top: 100px;
    left: 1140px;
}

.btnEx5 {
    position: absolute;
    height: 20px;
    width: 160px;
    top: 360px;
    left: 1185px;
}





